bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

**/vendor/
**/.cache/
*.log

.idea/
*.iml

.DS_Store
Thumbs.db

docker-compose.override.yml
.env
.env.local
.env.*

loadtest/*.json
loadtest/*.html
loadtest/*.csv

*~